<div class="login_form">
  <div>
    <%= form_for(:login, url: login_path) do |f| %>

      <%= f.email_field :username, class: 'form-control', :placeholder => "E-post" %>

      <%= f.password_field :password, class: 'form-control', :placeholder => "Lösenord" %>

      <%= f.submit "Logga in", class: "btn submit_button" %>
    <% end %>

    <p><%= link_to "Registrera nytt konto", signup_path %></p>
  </div>
</div>
